/*
Gradient permalink http://www.colorzilla.com/gradient-editor/#0e0e0e+0,0e0e0e+4,7d7e7d+70,7d7e7d+70,7d7e7d+85,7d7e7d+100
http://www.colorzilla.com/gradient-editor/#7d7e7d+-1,0e0e0e+0,7d7e7d+0,0e0e0e+4,7d7e7d+85,7d7e7d+89,7d7e7d+89,7d7e7d+100

 */
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Playfair+Display');

html{
	background: #7d7e7d;
	background: -moz-linear-gradient(top, #7d7e7d -1%, #0e0e0e 0%, #7d7e7d 0%, #0e0e0e 4%, #7d7e7d 85%, #7d7e7d 89%, #7d7e7d 89%, #7d7e7d 100%);
	background: -webkit-linear-gradient(top, #7d7e7d -1%,#0e0e0e 0%,#7d7e7d 0%,#0e0e0e 4%,#7d7e7d 85%,#7d7e7d 89%,#7d7e7d 89%,#7d7e7d 100%);
	background: linear-gradient(to bottom, #7d7e7d -1%,#0e0e0e 0%,#7d7e7d 0%,#0e0e0e 4%,#7d7e7d 85%,#7d7e7d 89%,#7d7e7d 89%,#7d7e7d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#7d7e7d',GradientType=0 );
}
.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: inherit;
	height: auto;
  box-shadow: 0 0 30px #FFF;
}
    .hvrbox img {
	   max-width: 100%;
}
    .hvrbox .thumb {
	   display: block;
}
    .hvrbox .hvrbox-layer-top {
	   opacity: 0;
	   position: absolute;
	   top: 0;
	   left: 0;
	   right: 0;
	   bottom: 0;
	   width: 100%;
	   height: 100%;
	   background: rgba(0, 0, 0, 0.7);
	   color: #fff;
	   padding: 15px;
	   transition: all 0.4s ease-in-out 0s;
}

    .hvrbox:hover .hvrbox-layer-top,
    .hvrbox:focus .hvrbox-layer-top,
    .hvrbox.active .hvrbox-layer-top {
	   opacity: 1;
}
    .hvrbox .hvrbox-text {
	   text-align: left;
	   font-size: 17px;
	   position: absolute;
	   top: 51%;
	   left: 42%;
	   -webkit-transform: translate(-50%, -50%);
	   -ms-transform: translate(-50%, -50%);
	   transform: translate(-50%, -50%);
}
.hvrbox-text li {
  width: 275px;
}

h1,h2{font-family: 'Playfair Display', serif;}
h1 {
	text-align: center;
	font-size: 3em;
	color: #fff;
	margin-bottom: 20px;
}

.hvrbox-text .btn-link {
  position: absolute;
  text-align: center;
  right: -35%;
  top: -5%;
}
@media only screen and (max-width:500px) {
  .hvrbox-text .btn-link {
    right: -16%;
    top: -3%;
  }
  .hvrbox .hvrbox-text {font-size: 13px;}
}
@media only screen and (max-width:375px) {
  .hvrbox-text .btn-link {
    right: -3%;
    top: -3%;
  }

}
.bandport {
  text-align: center;
	background-color: #000;
	padding: 5px;
	border: 1px solid #000000;
	border-radius: 10px;
	 -moz-box-shadow: inset 2px 2px 20px 6px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
	 -webkit-box-shadow: inset 2px 2px 20px 6px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
	 box-shadow: inset 2px 2px 20px 6px rgba(255, 255, 255, .4), inset -2px -2px 2px 1px rgba(0, 0, 0, .4);
}


h2.album_title,
h2.bandport{
	color: #fff;
	-webkit-text-fill-color: #000;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #fff;
	margin-top: 40px;
}
header{
	height: 350px;
}

#discographyheader{
	background:#333 url(../img/hero_images/discographyheroLG.jpg) top right / cover no-repeat;
}
#indexheader{
	background:#333 url(../img/hero_images/indexheroLG.jpg) top right / cover no-repeat;
}
#bandheader{
	background:#333 url(../img/hero_images/bandheroLG.jpg) top left / cover no-repeat;
}
#newsletterheader{
	background:#333 url(../img/hero_images/newsletterheroLG.jpg) top left / cover no-repeat;
}
.originsimg {
	background: url(../img/hero_images/originsMD.jpg) top right / cover no-repeat;
	height: 175px;
	margin-bottom: 20px;
}

@media (max-width:991px){
header{height: 250px;}
#discographyheader{background:#333 url(../img/hero_images/discographyheroMD.jpg) top right / cover no-repeat;}
#indexheader{background:#333 url(../img/hero_images/indexheroMD.jpg) top right / cover no-repeat;}
#bandheader{background:#333 url(../img/hero_images/bandheroMD.jpg) top left / cover no-repeat;}
#newsletterheader{background:#333 url(../img/hero_images/newsletterheroMD.jpg) top left / cover no-repeat;}
.termagreement {font-size: 12px;}
}




button.submit{
	margin: 15px;
	font-size: 1.3em;
	line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}
@media (max-width:767px){
	button.submit{
		font-size: 1em;
	}
}
.control-label{
	color: #fff;
}
.termagreement{
	color: #fff;
}
.radio-inline{
	color: #fff;
}
.footer {
	background-color: #f5f5f5;
	padding-top: 15px;
	margin-top: 20px;
}
.footer .footerinfo {
	text-align: center;
	padding: 3px;
}

div.bandImage p:first-of-type{
  text-align: center;
  color: white;
}
div.bandImage a {
  position: relative;
  left: 40%;
}
.tourwidget {
	margin-top: 30px;
	border-radius: 50px;
}
.bit-widget{
	border-radius: 25px;
}
.bit-button{
	border-radius: 25px;
}
.bit-upcoming-events-show-all-button {
	border-radius: 10px;
}
.bit-past-events-show-all-button {
	border-radius: 10px;
}
form {
	border-right: 5px solid #fff;
}
.sources {
	margin-top: 40px;
}
.well p{
	line-height: 160%;
	margin: 20px;
}
